<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Symrecype</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ingredients.index') }}"> Mes Ingrédients
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recipes.index') }}"> Mes Recettes
                        <span class="visually-hidden"></span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
