{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}


{% block body %}

    <div class="container mt-4">

        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe!</h1>
            <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi meme créer.
                        Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privé</p>
            <hr class="my-4">
                <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
            </div>
        </div>

    {% endblock %}
