{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes ingrédients
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not ingredients.items is same as([]) %}
            <h1>Mes ingrédients</h1>

            <a href="{{ path('ingredients.new') }}" class="btn btn-primary">Créer un ingrédient</a>


            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="count mt-4">
                <h4>
                    Il y a
                    {{ ingredients.getTotalItemCount }}
                    ingrédients au total
                </h4>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="table-primary">
                            <th scope="row">{{ ingredient.id }}</th>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('ingredients.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ path('ingredients.delete', { id: ingredient.id }) }}" class="btn btn-warning">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            <h4>
                Il n'y a pas d'ingrédients
            </h4>
        {% endif %}

    </div>
{% endblock %}
